<center>
<p class="somecolor">What is your name?</p>

<form method="post" action="/name" name="name_form" class="form_box" onsubmit='return validateForm()'>

	<input type="text" name="input_name">

	<input type="submit">

</form>
</center>

